.about {
  padding: 0;
  @media (min-width: $wide-desktop) {
    display: flex;
    flex-direction: row;
  }

  > div {
    flex: 1;
    margin: -4rem 0;
  }

  h3 {
    font-size: 2.4rem;
    font-weight: 500;
  }

  .left {
    padding: 12rem 0;
    @media (min-width: $desktop) {
      padding: 15rem 0;
    }
    .content {
      padding: 0 4rem;
      @media (min-width: $wide-desktop) {
        padding: 0;
        max-width: 48rem;
        margin: 0 8rem 0 auto;
      }
    }
  }

  .right {
    background-size: cover;
    background-position: center center;
    @media (max-width: $tablet) {
      padding: 0 2rem;
    }
  }

  .reference {
    background: $white-color;
    border-radius: 0.3rem;
    padding: 3.5rem 3.5rem 5rem 3.5rem;
    max-width: 55rem;
    margin-top: 20rem;
    margin-left: auto;
    box-shadow: 2px 2px 41px 0 rgba(0,0,0,0.47);
    @media (max-width: $tablet ) {
      max-width: 55rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 0;
      .author-img {
        margin-bottom: 3rem;
      }
    }
    .author-img {
      width: 10.4rem;
      height: 10.4rem;
      background-size: cover;
      background-position: center center;
      overflow: hidden;
      border-radius: 100%;
      float: left;
    }

    .content {
      padding-left: 2.5rem;
      overflow: auto;
      max-width: 35rem;

      p {
        font-size: 1.8rem;
        line-height: 2.5rem;
      }

      .name,
      .title {
        display: block;
        text-align: right;
      }

      .name {
        font-size: 2rem;
        font-family: "Museo700", sans-serif;
      }

      .title {
        color: $secondary-color;
        font-size: 1.7rem;
        font-family: "Museo300", sans-serif;
      }
    }
  }
}
