section.contact {
  padding: 3.8rem 0;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  @media (min-width: $desktop) {
    padding-top: 13.8rem;
    padding-bottom: 12.5rem;
  }
  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(160.64deg, #10314E 0%, #35632C 100%);
    opacity: 0.5;
    top: 0;
    left: 0;
  }
  .contact-container {
    display: flex;
    background: white;
    flex-direction: column;

    .contact-details {
      padding: 5rem 6.4rem;
      h3 {
        font-size: 2.6rem;
      }
      .details {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .company-details {
          max-width: 23rem;
          margin-right: 3rem;
          box-sizing: border-box;
          .company {
            font-family: "Museo700";
            font-size: 2rem;
          }

          .phone {
            font-family: "Museo700";
            color: $primary-color;
            margin-bottom: 0.5rem;
            .fa-phone {
              transform: scaleX(-1);
              color: $primary-color;
              margin-right: 0.7rem;
              font-size: 1.6rem;
            }
          }
          .email {
            font-family: "Museo700";
            a {
              color: $secondary-color;
            }
            .fa-envelope {
              color: $secondary-color;
              font-size: 2rem;
              margin-right: 0.7rem;
            }
          }
        }
        .linkedin {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          box-sizing: border-box;
          max-width: 31.1rem;
          min-height: 22.2rem;
          background-color: #FFFFFF;
          box-shadow: 0.6rem 0.6rem 2.4rem 0 rgba(0,0,0,0.16);
          margin-top: 3rem;
          .linkedin-details {
            display: flex;
            padding: 2.9rem 2.5rem;
            .avatar {
              margin-right: 1.6rem;
              height: 8rem;
              width: 8rem;
              min-width: 8rem;
              background-size: cover;
              border-radius: 50%;
            }
            .matthijs {
              .name {
                margin-bottom: 0.5rem;
                font-family: "Museo700";
                font-size: 1.8rem;
              }
            }
          }
          .linkedin-button {
            font-family: "Museo700";
            height: 6.3rem;
            line-height: 6.3rem;
            display: block;
            text-align: center;
            color: white;
            background-color: #0077B5;
            .fa-linkedin-in {
              font-size: 2.4rem;
              margin-right: 1rem;
            }
            &:hover {
              background-color: lighten(#0077B5, 5);
            }
          }
        }
      }
    }
    .contact-form {
      padding: 4.2rem;
      box-sizing: border-box;
      background: linear-gradient(153.42deg, #E9E9E9 0%, #C1C1C1 100%);
      .input-container {
        position: relative;
        svg {
          position: absolute;
          top: 1.5rem;
          left: 1.2rem;
          color: #b9b9b9;
          &.fa-phone {
            transform: scaleX(-1);
          }
        }
        input {
          margin-bottom: 1.6rem;
          padding-left: 3.4rem;
        }
      }
      .textarea-container {
        position: relative;
        svg {
          top: 1.1rem;
          position: absolute;
          left: 1.2rem;
          color: #b9b9b9;
        }
        textarea {
          height: 9rem;
          margin-bottom: 1rem;
          padding-left: 3.4rem;
        }
      }

    }
  }
  @media (min-width: $tablet ) {
    .details {
      flex-direction: row !important;
      .linkedin {
        margin-top: 0;
      }
    }
  }
  @media (min-width: $container) {
    .contact-container {
      flex-direction: row;
      .contact-details {
        width: 60%;
      }
      .contact-form {
        width: 40%;
        max-width: 43.3rem;
      }
    }
  }

}
