.hero {
  height: 70vh;
  color: $white-color;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;

  .page-width {
    position: relative;
    z-index: 100;
    align-items: center;
    display: flex;

    .content {
      margin-left: auto;
      width: 45%;
    }

    .subtitle {
      font-size: 2rem;
    }
  }

  h1,
  p {
    color: $white-color;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(134.72deg, #5AA14D 0%, #184D7A 100%);
    opacity: 0.8;
  }

  .cta {
    padding: 1.1rem 2.5rem;
    border: 2px solid $white-color;
    border-radius: 0.2rem;
    font-size: 1.8rem;
    cursor: pointer;
    font-family: $header-font;
    font-weight: 700;
    margin-top: 1.5rem;
    display: inline-block;
  }
}
