.hero {
  height: 70vh;
  color: $white-color;
  position: relative;
  display: flex;
  background-size: cover;
  background-position: center center;
  max-height: 900px;
  min-height: 500px;
  padding: 7rem 1rem;
  @media (min-width: $desktop) {
    padding: 10rem 1rem;
  }

  .page-width {
    position: relative;
    z-index: 100;
    align-items: center;
    display: flex;
    width: 100%;

    .content {
      margin-left: initial;
      @media (min-width: $desktop) {
        margin-left: auto;
        width: 48%;
      }
    }

    .subtitle {
      font-size: 2rem;
    }
  }

  h1,
  p,
  a {
    color: $white-color;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(134.72deg, #5AA14D 0%, #184D7A 100%);
    opacity: 0.8;
  }

  .cta {
    padding: 1.1rem 2.5rem;
    border: 0.2rem solid $white-color;
    border-radius: 0.2rem;
    font-size: 1.8rem;
    cursor: pointer;
    font-family: $header-font;
    font-weight: 700;
    margin-top: -1.5rem;
    display: inline-block;
    position: relative;
    overflow: hidden;

    &:before,
    &:after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background: #fff;
      opacity: 0.1;
      top: 0;
      transition: all 0.2s ease-in-out;
    }

    &:before {
      left: -100%;
    }

    &:after {
      right: -100%;
    }

    &:hover:before {
      left: 0;
    }

    &:hover:after {
      right: 0;
    }
  }
}

.scroll-down {
  display: none;
  position: absolute;
  bottom: 5rem;
  width: 2.2rem;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 100;
  @media (min-width: $desktop) {
    display: block;
  }

  .mouse {
    border: 0.2rem solid $white-color;
    height: 4.6rem;
    border-radius: 3.5rem;
    width: 100%;

    .scroll-wheel {
      border-radius: 100%;
      background: $white-color;
      width: 0.5rem;
      height: 0.5rem;
      margin: 1rem auto;
      animation: scroll-wheel 1.5s infinite 2s;
    }

    @keyframes scroll-wheel {
        0% {
          margin-top: 1rem;
          opacity: 1;
        }

        80% {
          opacity: 1;
        }

        100% {
          margin-top: 3rem;
          opacity: 0;
        }
    }
  }

  .arrow-down {
    border-left: 0.2rem solid $white-color;
    border-bottom: 0.2rem solid $white-color;
    transform: rotate(-45deg);
    margin-top: -0.35rem;
    width: 1.7rem;
    height: 1.7rem;
    margin-left: 0.3rem;
  }
}
