section.projects {
  background: linear-gradient(352deg, #FFFFFF 0%, #F4F4F4 100%);
  text-align: center;

  .subtitle {
    margin-left: auto;
    margin-right: auto;
  }

  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .project {
      width: 47%;
      text-align: left;
      border-radius: 0.3rem;
      background: $white-color;
      border-bottom: 0.4rem solid $secondary-color;
    }
  }
}
