section.services {
  padding: 11.8rem 3rem 23rem;
  background: linear-gradient(172.58deg, #FFFFFF 0%, #F4F4F4 100%);
  .card {
    background-repeat: no-repeat;
    background-size: 14rem;
    background-position: right bottom;
    h3 {
      hyphens: auto;
    }

    > p {
      margin-bottom: 6rem;
    }
  }
}
