section.services {
  padding: 11.8rem 3rem 23rem;
  background: linear-gradient(172.58deg, #FFFFFF 0%, #F4F4F4 100%);
  .card {
    padding-bottom: 8rem;
    background-repeat: no-repeat;
    background-size: 14rem;
    background-position: right bottom;
  }
}
