- popup_name = service.title
%a.btn{"data-popup-open" => popup_name, :href => "#"} Lees meer
.popup{"data-popup" => popup_name}
  .popup-inner
    %h3= service.title
    %p= service.content
    %p
      %a{"data-popup-close" => popup_name, :href => "#"} Close
    %a.popup-close{"data-popup-close" => popup_name, :href => "#"}
      %span x
