.cards-container {
  .next-reference,
  .previous-reference {
    z-index: 100;
    display: none;
    position: absolute;
    right: -5rem;
    font-size: 33px;
    color: #bdbdbd;
    top: 54%;
    cursor: pointer;
    &:hover {
      color: darken(#bdbdbd, 2);
    }
    @media (min-width: $wide-desktop) {
      display: block;
    }
  }

  .previous-reference {
    opacity: 0;
    left: -5rem;
    transition: opacity 0.5s ease;
  }
}
.cards {
  overflow: hidden;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 5%;
  @media (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
    -ms-grid-columns: 30% 30% 30%;
    grid-template-columns: 30% 30% 30%;
  }

  .card {
    left: 0;
    position: relative;
    margin-top: 2rem;
    padding: 3.5rem;
    border-radius: 2px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 25px 0 rgba(0,0,0,0.02);
    transition: left 1s ease;

    @media (max-width: $wide-desktop) {
      left: 0 !important;
    }

    @media (min-width: $desktop) {
      margin-top: 0;
      // &:not(:nth-child(3n)) {
        margin-right: 4rem;
      // }
      @supports (display: grid) {
        .grid-child {
          margin-right: 0;
        }
      }
    }

  }
}

.bullets {
  text-align: center;
  margin-top: 3rem;
  .fa-circle {
    margin-right: 0.5rem;
    font-size: 12px;
    cursor: pointer;
    color: grey;
    &:hover {
      color: black;
    }
  }
}
