/* Outer */
.popup {
  width:100%;
  height:100%;
  z-index: 100;
  display:none;
  position:fixed;
  top:0;
  left:0;
  background: rgba(66, 65, 65, 0.43);
}
/* Inner */
.popup-inner {
  max-width:70rem;
  width:90%;
  padding:4rem;
  position:absolute;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%, -50%);
  transform:translate(-50%, -50%);
  box-shadow: 0rem 0.2rem 0.6rem #848484;
  border-radius:0.3rem;
  background:#fff;
}
/* Close Button */
.popup-close {
  width:3rem;
  height:3rem;
  display:inline-block;
  position:absolute;
  top:0;
  right:0;
  transition:ease 0.25s all;
  -webkit-transform:translate(50%, -50%);
  transform:translate(50%, -50%);
  border-radius:50%;
  background:rgba(0,0,0,0.8);
  font-family:Arial, Sans-Serif;
  font-size: 2rem;
  text-align:center;
  line-height:100%;
  color:#fff;
  span {
    line-height: 2.6rem;
  }
}
.popup-close:hover {
  -webkit-transform:translate(50%, -50%) rotate(180deg);
  transform:translate(50%, -50%) rotate(180deg);
  background:rgba(0,0,0,1);
  text-decoration:none;
}
