nav {
  z-index: 900;
  width: 100%;
  background: $white-color;
  padding: 1.1rem 0 1.1rem;
  transition: 0.2s all ease-in-out;

  .menu-toggle {
    width: 3rem;
    position: relative;
    cursor: pointer;
    height: 3rem;
    display: block;
    float: right;
    margin-top: 1rem;
    margin-right: 2rem;
    transition: all 0.2s ease-in-out;

    span {
      position: absolute;
      display: block;
      width: 100%;
      height: 0.3rem;
      background: $primary-color;
      border-radius: 0.2rem;
      transform: rotate(0deg);
      transition: all 0.2s ease-in-out;

      &:nth-of-type(1) {

      }

      &:nth-of-type(2) {
        margin-top: 0.9rem;
      }

      &:nth-of-type(3) {
        margin-top: 1.8rem;
      }
    }

    @media (min-width: $wide-desktop) {
      display: none;
    }
  }

  img {
    max-width: 16rem;

    @media (min-width: $wide-desktop) {
      max-width: 18rem;
    }
  }

  .logos {
    position: relative;
    float: left;
    z-index: 999;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    top: 0;
    left: 0;
    margin-left: 2rem;

    @media (min-width: $wide-desktop) {
      margin-left: 0;
    }
  }

  .logo {
    display: block;
  }

  .logo-white {
    display: none;
  }

  .page-width {
    max-width: 112rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
    @media (min-width: $desktop) {
      padding: 0 2rem;
    }
  }

  .menu-container {
    display: block;
    position: fixed;
    top: 0;
    left: 100%;
    right: -100%;
    width: 100%;
    height: 100%;
    margin: 0;;
    background: linear-gradient(134.72deg, #2e6e86 0%, rgba(24, 77, 122, 0.82) 100%);
    padding: 3rem 0 0 0;
    overflow: auto;
    transition: 0.2s all ease-in-out;

    @media (min-width: $wide-desktop) {
      right: auto;
      left: auto;
      position: relative;
      width: auto;
      height: auto;
      background: transparent;
      padding: 0;
    }

    ul {
      padding: 0;
      text-align: right;
      padding: 0 3rem;
      margin-top: 11rem;
      margin-left: 2rem;
      @media (min-width: $wide-desktop) {
        padding: 0;
        margin-top: 1rem;
        margin-left: 0;
      }

      li {
        display: block;
        text-align: left;
        margin: 2.5rem 0;

        @media (min-width: $wide-desktop) {
          text-align: right;
          display: inline-block;
          margin: 0 2.1rem;
        }

        &.active a {
          @media (min-width: $wide-desktop) {
            font-weight: 700;
            color: #477f3d;
          }
        }

        a {
          font-size: 2.3rem;
          font-weight: 700;
          font-family: $header-font;

          @media (min-width: $tablet) {
            font-size: 3rem;
          }

          @media (min-width: $wide-desktop) {
            font-size: 1.6rem;
            font-weight: 600;
          }

          &:hover {
            font-weight: 700;
          }
        }
      }
    }
  }

  &.fixed {
    position: fixed;
  }

  &.transparent {
    background: transparent;
    padding: 2rem 0 3rem;
    a {
      color: #fff;
    }

    .logo {
      display: none;
    }

    .logo-white {
      display: block;
    }

    .menu-toggle {
      span {
        background: $white-color;
      }
    }
  }

  &.footer {
    padding: 2.5rem 0 3.2rem 0;
  }
}

.show-menu {
  .transparent {
    .logos {
      top: 5rem;
    }
  }
  .logos {
    transition: all 0.2s ease-in-out;
    z-index: 999;
    left: 4rem;
    top: 5.9rem;
    .logo-white {
      display: block;
    }

    .logo {
      display: none;
    }

    @media (min-width: $wide-desktop) {
      position: relative;
    }
  }

  .menu-toggle {
    margin-top: 2rem;

    span {
      transform-origin: 8% 40%;
      background: $white-color;

      &:nth-of-type(1) {
        transform: rotate(45deg);
      }

      &:nth-of-type(2) {
        opacity: 0;
        margin-top: 0;
        transform: rotate(45deg);
      }

      &:nth-of-type(3) {
        transform: rotate(-45deg);
      }
    }
  }

  .menu-container {
    left: 0;
    right: 0;

    a {
      color: $white-color;
    }
  }
}
