form {
  input[type="text"],
  input[type="number"],
  input[type="email"] {
    width: 100%;
    height: 4.4rem;
    border-radius: 0.2rem;
    background-color: #FFFFFF;
    box-shadow: inset 0.6rem 0.6rem 0.3rem 0 rgba(0,0,0,0.5);
  }
}
