h1 {
  margin: 0 0 2rem;
  color: $base-font-color;
  font-family: $header-font;
  font-size: 5.2rem;
  font-weight: 800;
  line-height: 5.8rem;
  letter-spacing: -0.01em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  margin: 0 0 3rem;
  color: $base-font-color;
  font-family: $header-font;
  font-size: 4.4rem;
  font-weight: 800;
  line-height: 4rem;
  letter-spacing: -0.01em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3 {
  margin: 0 0 1.6rem;
  font-family: "Museo300";
  color: #000000;
  font-weight: 600;
  font-size: 3rem;
  line-height: 3.6rem;
}

h4 {
  color: #000000;
  font-family: "Museo700";
  font-size: 2.4rem;
  line-height: 3.6rem;
}

p {
  margin: 0 0 1.6rem;
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-family: "Museo300";
  &.subtitle {
    color: $primary-color;
    font-weight: 300;
    font-size: 2.4rem;
    line-height: 2.9rem;
  }
}

blockquote {
  // color: #FFFFFF;
  font-family: "Museo700";
  font-size: 1.6rem;
  line-height: 2.2rem;
}
