/* Colors */
$base-font-color: #222222;
$primary-color: #5AA14D;
$secondary-color: #184D7A;

/* Breakpoints */
$mobile-landscape:                 400px;
$mobile-only:                      0 785px;
$tablet:                           512px;
$tablet-only:                      512px 785px;
$desktop:                          786px;
$container:                        980px; // container max width + padding
$wide-desktop:                     1024px;
$wider-desktop:                    1280px;
